{% extends 'layouts/master.twig' %}

{% block title %}
	<h1 style="text-align:center">Votre Labysheep</h1>
{% endblock %}

{% block body %}
<form action="/create" method="POST">
		<div class="form-group row">
		  <label for="largeur" class="col-2 col-form-label">Largeur</label>
		  <div class="col-10">
		    <input class="form-control" type="number" value="{{data.largeur}}" name="largeur">
		  </div>
		</div>

		<div class="form-group row">
		  <label for="hauteur" class="col-2 col-form-label">Hauteur</label>
		  <div class="col-10">
		    <input class="form-control" type="number" value="{{data.hauteur}}" name="hauteur">
		  </div>
		</div>

		<div class="form-group row">
		  <label for="couleur" class="col-2 col-form-label">Color</label>
		  <div class="col-10">
		    <input class="form-control" type="color" value="{{data.couleur}}" name="couleur">
		  </div>
		</div>

		<button type="submit" class="btn btn-primary">Créer mon labyrinthe</button>
</form>

<div class="col-md-8">
	<svg width="{{data.largeur*30+2}}" height="{{data.hauteur*30+2}}" style="background: #F4F4F4">
		{% for hor in tables.hor %}
			{% for wall in hor %}

				{% if wall %}
					<rect x="{{30*(loop.index0)}}" y="{{30*(loop.parent.loop.index0)}}" width="30" height="2" style="fill:rgb(0,0,255);" />
				{% endif %}

			{% endfor %}
		{% endfor %}

		{% for ver in tables.ver %}
			{% for wall in ver %}
				{% if wall %}
					<rect x="{{30*(loop.index0)}}" y="{{30*(loop.parent.loop.index0)}}" width="2" height="30" style="fill:rgb(0,0,255);" />
				{% endif %}

			{% endfor %}
		{% endfor %}
			

	</svg>
</div>

{% endblock %}